.ak-active-tab {
	color: blue !important;
}

@media screen and (max-width: 600px) {
	#toast-container.ak-toast {
		display: none;
	}
}

.ak-error-notify {
	color: red;
}

#toast-container.ak-toast {
	height: 20%;
	z-index: 0;
	position: absolute;
	width: 40%;
}
